body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: #203354;
  color: #ffffff;
}

.app-body {
  display: flex;
  flex-direction: column;
}

input,
button,
textarea,
select {
  background: none;
  border: none;
  outline: none;
}

h1,
p {
  font-family: Lato;
}

option {
  background: #5d71c4;
}

.vegan {
  display: flex;
  align-items: center;
  margin: 0px;
}

h3 {
  color: #000a00;
  font-size: 20px;
  font-style: italic;
  margin: 0px;
}

.styles {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  background-color: #fefeff;
  justify-content: space-between;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #5d71c4;
}

.styles li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 5px;
  text-align: right;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.styles li:hover {
  text-decoration: underline;
  font-weight: 600;
}

.styles li:last-child {
  margin: 0px;
  margin-right: 10px;
}

.header-image {
  height: 40px;
  margin: 0px;
}

.body {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.body > * {
  flex: 1 1 50%;
}

.body .body-image {
  display: flex;
  background: url(https://media.istockphoto.com/photos/table-top-view-of-spicy-food-picture-id1316145932?b=1&k=20&m=1316145932&s=170667a&w=0&h=feyrNSTglzksHoEDSsnrG47UoY_XX4PtayUPpSMunQI=);
  margin: 0px 1px;
  height: 200px;
}

.body .body-image .paragraph {
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.body .body-image span {
  font-size: 20px;
  font-style: italic;
}

.form-design {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.personal-datas {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 76%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
}

.form-house {
  margin: 0px 1rem 2rem;
  padding: 15px;
  font-weight: 600;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.name {
  background: #212c58;
  padding: 8px;
  border-radius: 3px;
  margin: 5px;
  color: #ffffff;
  width: 55%;
}

.personal-data {
  background: #dfdedb;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #212c58;
  display: flex;
  color: #000a00;
  flex-direction: column;
}

.input-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gender-radio {
  display: flex;
  justify-content: space-between;
}

.gender-house {
  display: inline-block;
}

select {
  border-bottom: 2px solid #5d71c4;
  text-align: center;
  padding: 5px;
  margin: 1rem;
  font-family: cursive;
  font-weight: 450;
  color: #c0b7da;
}

.order-food {
  display: flex;
  flex-wrap: wrap;
}

.order-food > * {
  flex: 1 1 30%;
}

.rate-us {
  background: #fefeff;
  font-weight: 600;
  padding: 1px 6px;
  margin: 5px;
  border-radius: 3pc;
  color: #212c58;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #6a6a75;
  border: 1px solid #212c58;
}

.box:hover {
  background: #dade14;
}

textarea {
  border: 2px solid #5d71c4;
  height: 100px;
  width: 80%;
  color: #ffffff;
}

.checkbox {
  display: flex;
  align-self: center;
  margin: 10px;
}

button {
  padding: 5px;
  font-weight: 700;
  color: #014768;
  border-radius: 5px;
  border: 1px solid #5d71c4;
  margin: 15px;
  background: #fefeff;
  font-weight: 700;
  margin: auto;
}

button:hover {
  background: #212c58;
}

.formsubmit {
  background: #fefeff;
  border: 1px solid #014768;
  border-radius: 5px;
  margin: 10px 20px;
  padding: 20px;
  color: #000a00;
}

.order-button {
  display: flex;
  width: 100%;
  margin: 25px 10px;
}

.button {
  margin: auto;
  padding: 5% 20%;
  font-size: 23px;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card {
  flex: 1 1 30%;
  background: #e9e8e8;
  color: #000a00;
  height: 350px;
  width: 230px;
  margin: 10px;
  padding: 15px;
  position: relative;
  border-radius: 5px;
}

.card:hover .icons {
  display: flex;
}

.card-image {
  max-width: 100%;
  width: 100%;
  height: 60%;
  border-radius: 5px;
}

.food-name {
  color: #203354;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 35px;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 40px;
}
.price {
  color: green;
  background-image: linear-gradient(
    to right,
    #040408,
    #d3d2d8,
    #5c10be,
    #fdf12a,
    #1cda39
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  left: 15px;
  bottom: 5px;
  border: 1px solid #014768;
  padding: 3px;
  border-radius: 3px;
}

.icons {
  background: rgba(0, 0, 0, 0.7);
  color: #fefeff;
  position: absolute;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  flex-direction: column;
  display: none;
  transition: 0.6s;
  border-radius: 5px;
}

.icons i {
  font-size: 25px;
  margin: 20px 0 50px 10px;
  cursor: pointer;
  width: 27px;
}

.icons i:hover {
  background-image: linear-gradient(#fdf12a, #1cda39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.newsletter {
  width: 90%;
  margin: auto;
  background: #172147;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
}

.subscribe-words {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.subscribe-words h2 {
  line-height: 30px;
}

.advice-health {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
}

.subscribe-button {
  display: flex;
}

.sub-button {
  padding: 10px 15px;
  font-size: 20px;
  margin: auto;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 15px;
  width: 90%;
  margin: auto;
}

.footer-container h3 {
  color: #e9e8e8;
  font-style: normal;
}

.footer-container > * {
  flex: 1 1 20%;
  margin: 15px;
}

.testimonial-words-footers {
  text-align: justify;
}

.input-mail {
  display: flex;
  background: #6a6a75;
  border-radius: 5px;
  justify-content: space-between;
}

.register {
  padding: 10px;
  margin-right: 0;
}

.email-subscribe::placeholder {
  color: #cacad1;
  padding-left: 10px;
}

.footer-container .second-div,
.footer-container .third-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container li {
  list-style-type: none;
  margin: 10px 0px;
  font-size: 15px;
  margin-bottom: 0px;
}

.footer-container li:hover {
  font-size: 15px;
  text-decoration: underline;
  color: #6a6a75;
}

.footer-end {
  text-align: center;
  background: #172147;
  padding: 15px 0;
}
